.img-background2{
    filter: brightness(40%); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: -100;
}
.textBodegas{
    font-family: 'Scheherazade New', serif;   
}
