.wallpaper-container{
    background-color: transparent;
}
.hidden{
    display: none;
}
.imgCarga{
    width: 20vw;
}
.video{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    filter: brightness(60%); 
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.brand-container{
    position: relative;
}
.wallpaper{
    filter: drop-shadow(0px 0px 10px var(--clr-black));
    max-width: 500px;
    
}
.text-container{
    display: flex;
    position: absolute;
    top: 70%;
    padding-left: 47%;
    justify-self: center;
}
.text{
    filter: drop-shadow(0px 0px 10px var(--clr-black));
    font-family: 'Source Sans Pro',cursive;
    color: var(--clr-rose);
    font-size: 20px;
    animation: pulse 2s linear infinite;
}
@keyframes pulse {
    0%{ transform: scale(1)}
    50%{ transform: scale(1.1)}
    100%{ transform: scale(1)}
}
