.toolBar{
    background-color: #202020;
    box-shadow: 00px 01px 10px 02px rgba(0, 0, 0, 0.694);
}
.buttons,.buttons:active, .buttons:link, .buttons:visited{
    text-decoration: none;   
}
.img-container{
    display: flex;
    align-items: center;
    background-color: #202020;
    overflow: hidden;
    max-height: 50px;
}
.logo{
    width: 100px;
    margin-right: 20px;
    filter: invert();
}